<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./public/stylesheets/styel.css" />
  </head>
  <body>
    <%- include('./partials/header') %>

    <div class="flex flex-row bg-zinc-600 min-h-screen">
      <%- include('./partials/aside') %>

      <div class="basis-9/12 p-5">
        <div class="flex flex-row flex-wrap">
          <div class="basis-1/3 p-2">
            <div class="card bg-zinc-900 rounded-lg h-full overflow-hidden">
              <img class="h-90 w-full" src="<%= movie.image %>" alt="image" />
            </div>
          </div>
          <div class="basis-2/3">
            <div class="p-3">
              <h2 class="text-4xl text-white font-bold uppercase mb-4">
                <%= movie.moviename %>
              </h2>

              <span class="text-lg text-white capitalize">
                <strong class="me-5">Type :</strong> <%= movie.movietype %>
              </span>
              <div class="flex items-center my-5">
                <span class="text-lg text-white">
                  <strong class="me-5">Ratings :</strong>
                </span>
                <div class="cardRating">
                  <form>
                    <% for(let i=1; i<=5; i++){ %> <% if (movie.ratings >= i) {
                    %>
                    <label htmlFor="{i}"></label>
                    <input type="radio" name="rating" id="{i}" checked />
                    <% } else { %>
                    <label></label>
                    <input type="radio" name="rating" />
                    <% } }%>
                  </form>
                </div>
              </div>
              <p class="text-sm text-zinc-400 capitalize mb-5">
                <span class="text-lg text-white">
                  <strong class="me-5">Description :</strong>
                </span>
                <%= movie.moviedisc %>
              </p>

              <div class="flex flex-row justify-start items-center mt-3">
                <a
                  href="/deleteData?id=<%= movie._id %>"
                  class="bg-red-500 w-20 text-center py-2 text-white rounded-lg me-5"
                  >Delete</a
                >
                <a
                  href="/editData?id=<%= movie._id %>"
                  class="bg-blue-500 w-20 text-center py-2 text-white rounded-lg me-5"
                  >Edit</a
                >
                <a
                  href="/"
                  class="bg-green-500 w-20 text-center py-2 text-white rounded-lg"
                  >Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
